
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}


.main-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


form {
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.user-list {
  width: 100%;
  margin-top: 20px;
}

.user-list h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-search{
  background-color: #042850da;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-search:hover {
  background-color: #000d1b;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.action-buttons {
  display: flex;
  gap: 5px; 
  justify-content: center; 
}


.action-form {
  display: inline-block;
  margin: 0;
}


.btn-delete, .btn-update {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block; 
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-update {
  background-color: #28a745;
}

.btn-update:hover {
  background-color: #218838;
}
